build/
sdkconfig
sdkconfig.old
sdkconfig.defaults

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
__pycache__/

.env/
venv/
python_env/

.terraform/
terraform.tfstate
terraform.tfstate.backup
*.hcl

*.zip
.vscode